
.wrapper{
    background-color: gray;
    height: 100vh;

    overflow: hidden;
}

.canvas {
    /* Set size to fit screen */
    display: block;

    margin-left: auto;
    margin-right: auto;

    /* Center */


    /* Crisp edges */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;


}

.swatchWrapper{
    /* Center */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.moveButton{
    width: 35px;
    height: 35px;
    border-radius: 50%;

    background-color: white;
    margin-left: 22px;
    margin-right: -6px;
    margin-bottom: 5px;

    border: 1px solid black;
}

.swatch{

    background-color: white;

    padding: 10px 10px 10px 20px;

    border-radius: 25px;
    border: 1px solid black;

    margin-bottom: 10px;

}

.circle-picker{
    margin: auto;
    text-align: center;

    width: 80vw !important;
    max-width: 827px !important;
}

.swatch > div > span > div{
    border-radius: 50%;
    border: 1px solid black;
}

body{
    background-color: black;
    margin: 0px;
}