
.wrapper{
    background-color: black;
    height: 100vh;

    overflow: hidden;
}

.canvas {
    /* Set size to fit screen */
    display: block;

    margin-left: auto;
    margin-right: auto;

    /* Center */


    /* Crisp edges */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;


}

.swatchWrapper{
    /* Center */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 20px;
}

.moveButton{
    width: 35px;
    height: 35px;
    border-radius: 50%;

    background-color: white;
    margin-right: -6px;
    margin-bottom: 13px;

    border: 2px solid black;

    font-size: 20px;
}


.circle-picker{
    margin: auto;
    text-align: center;

    width: 80vw !important;
    max-width: 827px !important;
}

.swatchWrapper  > div > span > div{
    border-radius: 50%;
    border: 2px solid black;
}



body{
    background-color: black;
    margin: 0px;
}